		</dt>
	</dl>

	<dl>
		<dt class="row1" style="text-align:left;">
			<div class="inner bg2 panel">
				<br />
				<form method="get" name="jumpbox" action="{S_JUMPBOX_ACTION}" onSubmit="if(document.jumpbox.cat_id.value == -1){return false;}">
				<input type="hidden" name="action" value="category" />
				<input type="hidden" name="page" value="{MX_PAGE}" />
				<select name="cat_id" onchange="if(this.options[this.selectedIndex].value != -1){ forms['jumpbox'].submit() }">
				<option value="-1">{L_QUICK_JUMP}</option>
				{JUMPMENU}
				</select>
				<input type="submit" value="{L_QUICK_GO}" class="liteoption" />
				</span>
				</form>
			</div>
		</dt>
	</dl>
	</div>
	<span class="corners-bottom"><span></span></span>	
</div>
{DEBUG}
<!-- BEGIN copy_footer -->
<div align="center"><span class="copyright"><br />
Powered by {L_MODULE_VERSION}, {L_MODULE_ORIG_AUTHOR} & <a href="http://mxpcms.sourceforge.net/" target="_phpbb" class="copyright">{L_MODULE_AUTHOR}</a> © 2002-2019 <br />Based on <a href="https://www.phpbb.com/community/viewtopic.php?f=456&t=2503036" target="_phpbb" class="copyright">pafiledb phpBB3 Extension</a>
</span></div>
<!-- END copy_footer -->
