			</td>
		  </tr>
		  <tr>
			<td align="left" valign="top" height="35" width="50%">
				<br /><form method="get" name="jumpbox" action="{S_JUMPBOX_ACTION}" onSubmit="if(document.jumpbox.cat_id.value == -1){return false;}">
				<input type="hidden" name="action" value="category" />
				<input type="hidden" name="page" value="{MX_PAGE}" />
				<select name="cat_id" onchange="if(this.options[this.selectedIndex].value != -1){ forms['jumpbox'].submit() }">
				<option value="-1">{L_QUICK_JUMP}</option>
				{JUMPMENU}
				</select>
				<input type="submit" value="{L_QUICK_GO}" class="liteoption" />
				</span>
				</form>
			</td>
			<td align="right" width="50%"><span class="gensmall">{S_AUTH_LIST}</span></td>
		  </tr>
		</table>
	</td>
  </tr>
</table>

<!-- BEGIN copy_footer -->
<div align="center">
<span class="copyright">
<br />
Powered by {MODULE_VERSION}, {MODULE_ORIG_AUTHOR},  &copy; {MODULE_ORIG_YEARS} 
			& {MODULE_TITLE}<a href="{MODULE_AUTHOR_HOMEPAGE}" target="blank" class="copyright">{MODULE_AUTHOR}</a> &copy; {MODULE_YEARS} <br />
	{DOWNLOADSYSTEM_DISPLAY_NAME} <a href="{DOWNLOADSYSTEM_AUTHOR_HOMEPAGES}" target="blank" class="copyright"> {DOWNLOADSYSTEM_AUTHOR_NAMES}</a> &copy; {DOWNLOADSYSTEM_AUTHOR_YEARS} <br />
			& {EXTENSION_TITLE}<a href="{EXTENSION_AUTHOR_HOMEPAGE}" target="blank" class="copyright">{EXTENSION_AUTHOR}</a> &copy; {EXTENSION_YEARS} <br />
			<a href="https://www.phpbb.com/community/viewtopic.php?f=456&t=2477777" target="_phpbb" class="copyright">PHPBB.com Extension</a>
</span>
</div>
<!-- END copy_footer -->